# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
*.sqlite3

# VS Code
.vscode/

# Docker
*.log
*.pid
*.db
docker-compose.override.yml

# OS
Thumbs.db
.DS_Store

# Kubernetes
*.yaml.backup